NEXT_PUBLIC_SUPABASE_URL=https://ijalaqtpxpxhgsabenpp.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_...
ANTHROPIC_API_KEY=sk-ant-...
EMAIL_FROM=tuemail@gmail.com
EMAIL_PASSWORD=tu_app_password_gmail
EMAIL_TO=tuemail@gmail.com,emailpareja@gmail.com
